*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}
.maintheme{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    text-align: center;
    font-size: 25px;
}
.game{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    letter-spacing: 10px;
    margin-top: 10px;
    font-size: 35px;

}
.button-section{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 35px;

    
    
}
.btn-start{
    color: white;
    background-color: rgb(53, 53, 245);
    border: none;
    padding: 5px 25px;
    border-radius: 3px;
}
.btn-rgb{
    color: white;
    background-color: rgba(70, 69, 69, 0.683);
    border: none;
    padding: 5px 35px;
    border-radius: 3px;
}
.btn-failandsucsess{
    background-color: rgb(231, 235, 14);
    border: none;
    border-radius: 3px;
    padding: 5px 40px;
}
.boxes, .boxes2{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 25px;
    margin-top: 25px;
    
}
.color{
    background-color: white;
    padding: 55px;
    border-radius: 10px;
}

.hide{
    display: none;
}

/* .show{
    display: initial;
} */

.easy-or-hard{
    position: relative;
    text-align: end;
    margin-right: 100px;
    
}
.easy-button{
    background-color: rgb(180, 240, 103);
    text-align: left;
    /* padding-right: 32px; */
    z-index: 1;
    position: relative;
    border: none;
    padding: 8px 25px;
    border-radius: 5px;
    color: rgb(49, 48, 48);
    font-weight: bolder;

}
.easy-button:hover{
    background-color: green;
}

.or-button{
    background: #eee;
    text-align: center;
    padding: 13px;
    border-radius: 48px;
    border: 3px solid #fff;
    margin: -16px;
    font-weight: 800;
    color: rgb(151, 149, 149);
    z-index: 2;
    position: relative;
}
.or-button:hover{
    color: black;
}

.hard-button{
    background-color: rgb(201, 74, 74);
    text-align: right;
    padding-left: 32px;
    z-index: 1;
    position: relative;
    border: none;
    padding: 8px 25px;
    border-radius: 5px;
    color: rgb(49, 48, 48);
    font-weight: bolder;
}

.hard-button:hover{
    background-color: red;
}

.intro{
    display: flex;
    gap: 30px;
    justify-content: center;
}
h1{
    color: white;
}